---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en" class="bg-[#121212] text-zinc-200">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
		<Header />
		<main class="mt-10 place-self-center">
			<h1 role="img" aria-label="Page not found" class="text-9xl neonText mb-28"><a href="/">404</a></h1>
		</main>
		<Footer />
	</body>
</html>
