---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en" class="bg-[#121212] text-zinc-200">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
		<Header />
		<main class="mt-10 place-self-center">
			<h1 role="img" aria-label="Page not found" class="text-9xl neonText mb-28"><a href="/">404</a></h1>
		</main>
		<Footer />
		<style>
			.neonText {
				color: #fff;
				text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9f1239, 0 0 82px #9f1239, 0 0 92px #9f1239, 0 0 102px #9f1239, 0 0 151px #9f1239;
			}

			h1 {
				animation: pulsate 1.5s infinite alternate;
				border: 0.2rem solid #fff;
				border-radius: 2rem;
				padding: 0.4em;
				box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #9f1239, 0 0 0.8rem #9f1239, 0 0 2.8rem #9f1239, inset 0 0 1.3rem #9f1239;
			}

			@keyframes pulsate {
				100% {
					text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #9f1239, 0 0 80px #9f1239, 0 0 90px #9f1239, 0 0 100px #9f1239, 0 0 150px #9f1239;
				}

				0% {
					text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #9f1239, 0 0 45px #9f1239, 0 0 55px #9f1239, 0 0 70px #9f1239, 0 0 80px #9f1239;
				}
			}
		</style>
	</body>
</html>
