---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body class="grid min-h-screen grid-rows-[auto,1fr,auto]">
		<Header />
		<main class="mt-10 place-self-center">
			<h1 role="img" aria-label="Page not found" class="neonText mb-28 text-9xl font-extrabold"><a class="pl-[0.2em] tracking-[0.2em]" href="/">404</a></h1>
		</main>
		<Footer />
	</body>
</html>
