---
import { CLOUDFLARE_PUBLIC_KEY } from '../config';
---

<section class="mt-20 py-6 w-[90%] md:w-[45rem] lg:w-[55rem] border-y-2 border-rose-800 rounded" aria-label="Post Comment">
	<div class="collapse collapse-plus rounded-box">
		<input aria-label="Show/Hide Post Comment Section" type="checkbox" />
		<div class="collapse-title text-xl font-medium">Write a comment</div>
		<div role="form" class="collapse-content">
			<div class="form-control">
				<label class="label">
					<span class="label-text">Your Name</span>
				</label>
				<label class="input-group">
					<span class="w-20 justify-center">Name</span>
					<input id="commenter-name" type="text" placeholder="Chloe Walker" class="input input-bordered" />
				</label>

				<label class="label">
					<span class="label-text">Your Email</span>
				</label>
				<label class="input-group">
					<span class="w-20 justify-center">Email</span>
					<input id="commenter-email" type="text" placeholder="info@site.com" class="input input-bordered" />
				</label>

				<label class="label">
					<span class="label-text">Your Comment</span>
				</label>
				<label class="input-group">
					<textarea style="border-radius: 0.75rem !important;" id="commenter-comment" class="textarea textarea-bordered h-44 w-full text-xl" placeholder="What's on your mind?"></textarea>
				</label>
				<div>
					<div id="cf-turnstile" class="hidden" data-cloudflare_public_key={CLOUDFLARE_PUBLIC_KEY}></div>
					<button id="postComment" class="btn btn-outline btn-square disabled:text-base disabled:font-bold disabled:bg-zinc-800 disabled:hover:bg-zinc-800 border-rose-800 hover:border-rose-800 hover:bg-rose-900 text-rose-700 hover:text-white mt-6 w-32">SEND</button>
					<p id="fieldsRequired" style="opacity: 0;" class="mt-5 sm:inline-block sm:ml-5">All Fields Are Required!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	import comment from '../lib/comment-helper';
	const postButton: HTMLButtonElement = document.querySelector('#postComment');
	const nameElement: HTMLInputElement = document.querySelector('#commenter-name');
	const emailElement: HTMLInputElement = document.querySelector('#commenter-email');
	const commentElement: HTMLInputElement = document.querySelector('#commenter-comment');
	const fieldsRequired: HTMLInputElement = document.querySelector('#fieldsRequired');

	document.querySelector('#postComment').addEventListener('click', () => {
		comment(nameElement, emailElement, commentElement, fieldsRequired, postButton);
	});
</script>
