<section id="replyCommentSection" class="mt-20 hidden w-[92%] rounded border-y-2 border-rose-800 py-6 md:w-[45rem] lg:w-[55rem]" aria-label="Reply to Comment">
	<div class="collapse-plus rounded-box collapse">
		<input aria-label="Show/Hide Reply to Comment Section" type="checkbox" checked disabled />
		<div class="collapse-title text-xl font-medium">Reply to <span id="originalCommenterName"></span></div>
		<div role="form" class="collapse-content">
			<form id="reply-comment-form">
				<div class="form-control">
					<label class="label">
						<span class="label-text">Your Name</span>
					</label>
					<label class="input-group">
						<span class="w-20 justify-center">Name</span>
						<input required id="reply-commenter-name" type="text" placeholder="Chloe Walker" class="peer input input-bordered !rounded-r-lg" />
						<div class="tooltip tooltip-open tooltip-error absolute left-44 hidden peer-valid:hidden" data-tip="Cant be empty"></div>
					</label>

					<label class="label">
						<span class="label-text">Your Email</span>
					</label>
					<label class="input-group">
						<span class="w-20 justify-center">Email</span>
						<input required id="reply-commenter-email" type="email" placeholder="info@site.com" class="peer input input-bordered !rounded-r-lg" />
						<div class="tooltip tooltip-open tooltip-error absolute left-44 hidden peer-valid:hidden" data-tip="Enter a valid e-mail"></div>
					</label>

					<label class="label">
						<span class="label-text">Your Comment</span>
					</label>
					<label class="input-group">
						<textarea required style="border-radius: 0.75rem !important;" id="reply-commenter-comment" class="peer textarea textarea-bordered h-44 w-full text-xl" placeholder="What's on your mind?"></textarea>
						<div class="tooltip tooltip-open tooltip-error absolute left-44 hidden peer-valid:hidden" data-tip="Cant be empty"></div>
					</label>
					<div>
						<button id="replyToComment" class="btn btn-square btn-outline mt-6 w-32 border-rose-800 text-rose-700 hover:border-rose-800 hover:bg-rose-900 hover:text-white disabled:bg-zinc-800 disabled:text-base disabled:font-bold disabled:hover:bg-zinc-800">SEND</button>
						<button id="cancelReplyToComment" class="btn btn-square btn-outline ml-4 mt-6 w-32 border-rose-800 text-rose-700 hover:border-rose-800 hover:bg-rose-900 hover:text-white disabled:bg-zinc-800 disabled:text-base disabled:font-bold disabled:hover:bg-zinc-800">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<script>
	import comment, { resetReplyForm } from '../lib/comment-helper';
	const formElement: HTMLFormElement = document.querySelector('#reply-comment-form');
	const sendReplyButton: HTMLButtonElement = document.querySelector('#replyToComment');
	const nameElement: HTMLInputElement = document.querySelector('#reply-commenter-name');
	const emailElement: HTMLInputElement = document.querySelector('#reply-commenter-email');
	const commentElement: HTMLInputElement = document.querySelector('#reply-commenter-comment');

	document.querySelector('#replyToComment').addEventListener('click', (e) => {
		e.preventDefault();
		const threadID = document.querySelector<HTMLElement>('#replyToComment').dataset.threadid;
		comment(formElement, nameElement, emailElement, commentElement, sendReplyButton, true, threadID);
	});

	// Add cancel reply button EventListeners
	const cancelReplyButton = document.querySelector('#cancelReplyToComment');
	cancelReplyButton.addEventListener('click', () => {
		resetReplyForm();
	});
</script>
