---
import { CLOUDFLARE_PUBLIC_KEY } from '../config';
---

<section class="mt-20 w-[92%] rounded border-y-2 border-rose-800 py-6 md:w-[45rem] lg:w-[55rem]" aria-label="Post Comment">
	<div class="rounded-box collapse-plus collapse">
		<input id="postCommentCheckBox" aria-label="Show/Hide Post Comment Section" type="checkbox" />
		<div class="collapse-title text-xl font-medium">Write a comment</div>
		<div role="form" class="collapse-content">
			<form id="comment-form">
				<div class="form-control">
					<label class="label">
						<span class="label-text">Your Name</span>
					</label>
					<label class="input-group">
						<span class="w-20 justify-center">Name</span>
						<input required id="commenter-name" type="text" placeholder="Chloe Walker" class="peer input-bordered input !rounded-r-lg" />
						<div class="tooltip-open tooltip tooltip-error absolute left-44 hidden peer-valid:hidden" data-tip="Cant be empty"></div>
					</label>

					<label class="label">
						<span class="label-text">Your Email</span>
					</label>
					<label class="input-group">
						<span class="w-20 justify-center">Email</span>
						<input required id="commenter-email" type="email" placeholder="info@site.com" class="peer input-bordered input !rounded-r-lg" />
						<div class="tooltip-open tooltip tooltip-error absolute left-44 hidden peer-valid:hidden" data-tip="Enter a valid e-mail"></div>
					</label>

					<label class="label">
						<span class="label-text">Your Comment</span>
					</label>
					<label class="input-group">
						<textarea required style="border-radius: 0.75rem !important;" id="commenter-comment" class="peer textarea-bordered textarea h-44 w-full text-xl" placeholder="What's on your mind?"></textarea>
						<div class="tooltip-open tooltip tooltip-error absolute left-44 hidden peer-valid:hidden" data-tip="Cant be empty"></div>
					</label>
					<div>
						<div id="cf-turnstile" class="hidden" data-cloudflare_public_key={CLOUDFLARE_PUBLIC_KEY}></div>
						<button id="postComment" class="btn-outline btn-square btn mt-6 w-32 border-rose-800 text-rose-700 hover:border-rose-800 hover:bg-rose-900 hover:text-white disabled:bg-zinc-800 disabled:text-base disabled:font-bold disabled:hover:bg-zinc-800">SEND</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<script>
	import comment from '../lib/comment-helper';
	const formElement: HTMLFormElement = document.querySelector('#comment-form');
	const postButton: HTMLButtonElement = document.querySelector('#postComment');
	const nameElement: HTMLInputElement = document.querySelector('#commenter-name');
	const emailElement: HTMLInputElement = document.querySelector('#commenter-email');
	const commentElement: HTMLInputElement = document.querySelector('#commenter-comment');
	const fieldsRequired: HTMLInputElement = document.querySelector('#fieldsRequired');

	document.querySelector('#postComment').addEventListener('click', (e) => {
		e.preventDefault();
		comment(formElement, nameElement, emailElement, commentElement, fieldsRequired, postButton);
	});
</script>
