<a aria-label="Go to top" href="#header" id="gotop" class="btn btn-circle z-10 bg-[rgb(18,18,18)] hover:border-rose-900 border-rose-900 fill-rose-900 focus:outline-blue-400 fixed bottom-0 right-0 m-5 hidden">
	<svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"> <path d="M201.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 173.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
</a>
<script>
	const toTopButton = document.querySelector('#gotop');
	if (window.matchMedia('(hover: hover)').matches) {
		// If not touch screen
		toTopButton.classList.add('hover:bg-rose-800', 'hover:fill-white');
	} else {
		// if touch screen
		toTopButton.classList.add('focus:bg-rose-800', 'focus:fill-white');
	}
	toTopButton.addEventListener('click', function (e) {
		e.preventDefault();
		document.querySelector(this.getAttribute('href')).scrollIntoView({
			behavior: 'smooth'
		});
	});
	window.addEventListener('scroll', () => {
		if (window.pageYOffset > 100) {
			toTopButton.classList.remove('hidden');
		} else {
			toTopButton.classList.add('hidden');
		}
	});
</script>
