---
import { SITE_TITLE } from '../config';
---

<header id="header" aria-label="Header" class="grid place-items-center border-rose-900 pb-10 pt-6 text-center font-rubik text-4xl font-bold text-rose-800 md:pb-14 md:text-6xl">
	<h2>
		<a href="/" rel="prefetch">{SITE_TITLE}</a>
	</h2>
</header>
