---
import { SITE_TITLE } from '../config';
---

<header class="grid place-items-center text-center font-bold text-4xl md:text-6xl pb-16 pt-6 text-rose-800 border-rose-900 font-rubik">
	<h2>
		<a href="/" rel="prefetch">{SITE_TITLE}</a>
	</h2>
</header>
