---
import { SITE_TITLE } from '../config';
---

<header class="grid place-items-center text-center font-bold text-4xl md:text-5xl border-b-[1px] font-mono pb-6 pt-6">
	<h2>
		<a href="/">{SITE_TITLE}</a>
	</h2>
</header>

