---
const {totalPages, currentPage, search, tag=""} = Astro.props;
---
<section class="grid place-items-center">
    <div class="flex">
        {totalPages > 1 &&
                <>{currentPage > 1 ? <a href={tag + "?page=" + (currentPage - 1) + search}>
                    <button class="btn bg-[#ffffff] hover:bg-gray-300 text-black rounded-r-none min-w-[8rem]">Previous page</button>
                </a> : 	
                    <button class="btn hover:cursor-not-allowed  rounded-r-none min-w-[8rem]">Previous page</button>
                }  </>
                <>{currentPage < totalPages ? <a href={tag + "?page=" + (currentPage + 1) + search}>
                    <button class="btn bg-[#ffffff] hover:bg-gray-300 text-black  rounded-l-none min-w-[8rem]">Next</button>
                </a> : 	
                    <button class="btn hover:cursor-not-allowed rounded-l-none min-w-[8rem]">Next</button>
                }</>
        }
    </div>
</section>