---
import PostImage from '../components/PostImage.astro';
const { posts } = Astro.props;
---

<section class="grid place-items-center">
	{
		posts.data.map((post) => (
			<a
				tabindex="0"
				href={'/blog/' + post.attributes.slug}
				rel="prefetch"
				class="grid md:grid-cols-[1fr,63%] md:grid-rows-[unset] sm:grid-rows-[1fr,66%] w-[20rem] md:w-[48rem] mb-6 
     			border-2 rounded-lg border-rose-700 shadow-xl shadow-rose-600/10 hover:shadow-rose-600/40 hover:cursor-pointer hover:-translate-y-1 transition-all overflow-hidden"
			>
				<PostImage imageObject={post.attributes.cover.data.attributes} classes={'rounded-l-sm w-full h-full aspect-video object-cover flex place-items-center justify-center'} size={'small'} alt={'Thumbnail'} />
				<div class="h-fit md:h-full rounded-r-sm bg-zinc-900">
					<div class="text-4xl m-5 mb-2">{post.attributes.heading}</div>
					<div class="w-fit mx-5 mb-5">
						<object aria-label="just here so i can add nested <a>">
							<span class="bg-rose-200 text-rose-900 text-xs font-semibold mr-2 px-2.5 py-0.5 pb-1 rounded">tags:</span>
							{post.attributes.tags.data.map((tag: { id: number; attributes: { tag: string } }) => (
								<a class="text-blue-700 inline-block hover:text-rose-700" href={'/tag/' + tag.attributes.tag} rel="prefetch">
									#{tag.attributes.tag} &VeryThinSpace;
								</a>
							))}
						</object>
					</div>
					<div class="pl-5 pr-5 pb-5">{post.attributes.description}</div>
				</div>
			</a>
		))
	}
</section>
