---
const {action="/", placeholder="Search"} = Astro.props;
---

<section>
    <form method="get" action={action} class="w-full grid place-items-center">
        <input type="text" id="search" name="search" placeholder={placeholder} class="input input-bordered input-error text-center w-[19rem] md:w-[45rem] h-9 mb-10" />
        <input class="hidden" type="submit" value="Go!">
        </form>
</section>